
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap');
/************************************************************************/

html {
 box-sizing: border-box;
  font-size: 16px;
  background-color: #000;
}
*, *:before, *:after {
 box-sizing: inherit;
}
body {
 margin: 0;
 font-family: 'Lato', sans-serif;
}

.page-wrapper {
  max-width: 1200px;
  margin:auto;
  position: relative;
}
.hidden {
 position: absolute; /* take the element out of its regular flow */
 left: -10000px; /* move 10000 pixels to the left */
}

#header .page-wrapper {
padding: 1.75em; /**28px**/
}

#main-menu {
 position:absolute;
 right:0;
 top:46px;
}
#main-menu ul {
 padding: 0;
 margin: 0;
 list-style: none;
}
#main-menu li {
 display: inline-block;
 text-transform: uppercase;
 font-size:1em;
 padding: 0px 32px;
}
#main-menu a {
 color: #fff;
 text-decoration: none;
}
#main-menu a:hover{
  text-decoration: underline;
  text-underline-position: under;
}
.dropbutton {
  background-color: #000;
  color: white;
  padding: 16px;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;

}
.dropdown:hover .dropbtn {
  text-decoration: underline;
  text-underline-position: under;
}

#sub-menu{
  padding:0.5em;
}
#sub-menu ul{
  padding:0;
  margin:0;
  list-style: none;
}
#sub-menu li{
  padding-right: 3em;
  display:inline-block;
  text-transform: uppercase;
  font-size: 1em;
}
#sub-menu a{
  color: #fff;
  text-decoration: none;
}
#sub-menu a:hover{
  text-decoration: underline;
  text-underline-position: under;
}

#footer{
  padding-top: 10em;
  text-transform: uppercase;
  text-align: center;
  color:#fff;
  margin-top:370px;
}
.break-bar{
  border-top: 1px solid white;
  padding:20px;
}

/* MAIN STYLES */

#section-one {  
  height:1000px;
  border-top: 1px solid white; 
}
#section-one h1 {
  text-align:center;
  padding-top:30px;
  padding-bottom:190px;
  margin:0px;
  text-transform:uppercase;
  color:white;
  font-size:30px;
}
#section-div1 {
  display:inline-block;
  float:left;
  width:45%;
  color:lightgray;
  text-align:center;
}
#section-div2 {
  color:lightgray;
  display:inline-block;
  float:right;
  width:45%;
  margin-top:0px;
}
#section-div1 img{
  width:35%;
  margin-left:auto;
  margin-right:auto;
  height:100px;
  display:block;
  margin-top:40px;
  margin-bottom:35px;
}
#section-div2 img{
  width:35%;
  margin-left:auto;
  margin-right:auto;
  height:100px;
  display:block;
  margin-top:40px;
}
.days {
  height:380px;
  padding-top:50px;
  padding-bottom:50px;
  text-align:center;
}
.day-desc {
	padding-top:30px;
  padding-bottom:20px;
}
.day-img {
  display:inline-block;
  float:right;
  width:50%;
}
.days img{
  margin-left:auto;
  margin-right:auto;
  display:block;
  width:50%;
  height:288px;
}
.dayEven-img {
  float:left;
  width:50%;
}
#specialimg img {
  width:70%;
  height:450px;  
}
#specialdesc {
  padding-top:50px;
  text-align:center;
}
#section-div1 a {
  font-size:30px;
  color:#f2ac3b;
  text-decoration:none;
}
#section-div2 a {
  font-size:30px;
  color:#f2ac3b;
  text-decoration:none;
}
/* MEDIA QUERIES */
@media screen and (max-width:1100px) {
  #header {
    height:400px;
  }
  #main-menu li {
    display:block;
    padding-top:1em;
	padding-right:15em;
  }
  #main-menu {
    top:130px;
  }
  #sub-menu {
    padding:5em;
  }
  #sub-menu li{
    padding-bottom:1em;
  }
}
@media screen and (max-width:768px) {
  #section-one {  
    height:850px;
  }
  #section-div1 {	
    width:100%;	 
  }
  #section-div2 {	
	width:100%;
    padding-bottom:5em;	
  }
 
}